@include media-breakpoint-up(lg) {
  .position-lg-absolute{
    position: absolute;
  }

  .translate-lg-middle{
    transform: translate(-50%,-50%);
  }
}

.bgCoverCenter{
  background-size: cover;
  background-position: center center;
}